
main {
    background-color: rgb(255, 255, 255);
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    box-shadow: -8px -8px rgb(255, 255, 255), 8px 8px rgb(255, 255, 255), -8px 8px rgb(255, 255, 255), 8px -8px rgb(255, 255, 255);
}
div p {
    text-align: center;
}