
main {
    background-color: rgb(255, 255, 255);
    height: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    box-shadow: -8px -8px rgb(255, 255, 255), 8px 8px rgb(255, 255, 255), -8px 8px rgb(255, 255, 255), 8px -8px rgb(255, 255, 255);
}
div p {
    text-align: center;
    padding-bottom: 5px;
}

div h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

main div {
    padding: 20px;
    padding-left: 50px;
}