
main {
    background-color: rgba(255, 255, 255, 0.920);
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    box-shadow: -8px -8px rgb(255, 255, 255), 8px 8px rgb(255, 255, 255), -8px 8px rgb(255, 255, 255), 8px -8px rgb(255, 255, 255);
}
div h1 {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

div p {
    width: 300px;
    padding-left: 50px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}



/* Music */

.MusicContainer {
    background-color: rgb(245, 120, 230);
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    height: 350px;
    width: 350px;
    border-radius: 20px;
    box-shadow: -8px -8px rgb(84, 52, 124), 8px 8px rgb(84, 52, 124), -8px 8px rgb(84, 52, 124), 8px -8px rgb(84, 52, 124);
}

.music-player {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.slider-container img{
    height: 30px;
    width: auto;
}
.buttons img {
    height: 30px;
    width: auto;
}